<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title">List Your Spot</h4>
        </div>
        <div class="modal-body">
            <form class="" role="form" method="post" action="/location/create/">
                <div class="form-group">
                    <label for="firstName" class="col-lg-2 control-label">Location</label>
                    <div class="col-lg-10">
                      <input type="text" class="form-control" id="inputFname" name="fname" placeholder="Parking Address">
                    </div>
                </div>
                <div class="form-group">
                    <label for="lastName" class="col-lg-2 control-label">Last Name</label>
                    <div class="col-lg-10">
                      <input type="text" class="form-control" id="inputLname" name="lname" placeholder="Last Name">
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-lg-offset-2 col-lg-10">
                      <button type="submit" name="submit" value="submit" class="btn btn-primary">Submit</button>
                    </div>
                </div>
            </form>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
    </div><!-- /.modal-content -->
</div><!-- /.modal-dialog -->
<script type="text/javascript">
    setTimeout(function(){

    },200);
</script>