<div class="row">
    <form class="" role="form" method="post" action="/location/create/">
      <div class="form-group">
        <label for="firstName" class="col-lg-2 control-label">First Name</label>
        <div class="col-lg-10">
          <input type="text" class="form-control" id="inputFname" name="fname" placeholder="First Name">
        </div>
      </div>
      <div class="form-group">
        <label for="lastName" class="col-lg-2 control-label">Last Name</label>
        <div class="col-lg-10">
          <input type="text" class="form-control" id="inputLname" name="lname" placeholder="Last Name">
        </div>
      </div>
      <div class="form-group">
        <label for="inputEmail" class="col-lg-2 control-label">Email</label>
        <div class="col-lg-10">
          <input type="text" class="form-control" id="inputEmail" name="email" placeholder="Email">
        </div>
      </div>
      <div class="form-group">
        <label for="inputPhone" class="col-lg-2 control-label">Phone</label>
        <div class="col-lg-10">
          <input type="text" class="form-control" id="inputPhone" name="phone" placeholder="Phone">
        </div>
      </div>
      <div class="form-group">
        <label for="inputPassword" class="col-lg-2 control-label">Password</label>
        <div class="col-lg-10">
          <input type="password" class="form-control" id="inputPassword" name="password" placeholder="Password">
        </div>
      </div>
      <div class="form-group">
        <label for="inputPasswordConfirm" class="col-lg-2 control-label">Confirm Password</label>
        <div class="col-lg-10">
          <input type="password" class="form-control" id="inputConfirmPassword" name="confirmPassword" placeholder="Confirm Password">
        </div>
      </div>
      <div class="form-group">
        <div class="col-lg-offset-2 col-lg-10">
          <div class="checkbox">
            <label>
                <input type="hidden" name="contact" value="0">
              <input type="checkbox" name="contact" value="1"> I wish to be contacted about new spots available in my area.
            </label>
          </div>
          <div class="checkbox">
            <label>
                 <input type="hidden" name="toc" value="0">
              <input type="checkbox" name="toc" value="1"> I agree to the Terms & Conditions.

            </label>
          </div>
        </div>
      </div>
      <div class="form-group">
        <div class="col-lg-offset-2 col-lg-10">
          <button type="submit" name="submit" value="submit" class="btn btn-primary">Submit</button>
        </div>
      </div>
      <!-- Rounded TWO -->

    </form>
</div>